<footer >
    <div class="footer-content ">
        <h3>EasyBlog</h3>
        <p>Create Content easily</p>
        <!-- <div class="container">
            <div class="row">
                <div class="col-3-md">fas</div>
                <div class="col-3-md">fda</div>
                <div class="col-3-md">ada</div>
            </div>
        </div> -->
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2021 EasyBlog. Designed by <span>Prajith</span></p>
    </div>
</footer>